* {
  margin: 0;
  padding: 0;
}

body {
  /* background-image: url(https://media.istockphoto.com/photos/close-up-of-a-black-slate-texture-background-stone-grunge-texture-picture-id1268759368?b=1&k=20&m=1268759368&s=170667a&w=0&h=DIY4qKF5cJYL4uO8C2OoxUMWaw34_j_TPhT7tZXKw5U=); */
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  margin: 10px 10px;
}

/* nav/home */

.nav {
  display: flex;
  justify-content: space-between;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.hero-name {
  font-size: 5em;
}

.hero-info {
  font-size: 3em;
}

/* RecipeBookCard */

.recipe {
  height: 20em;
  width: 40em;
}

.recipe-socials {
  display: flex;
}

.contact-socials {
  display: flex;
}

/* About Page */

.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.about-text {
  font-size: 2em;
}

/* Memorygamecard */

.memory-game {
  height: 20em;
  width: 40em;
}

.project-socials {
  display: flex;
  justify-content: center;
}

.contact-socials {
  display: flex;
}

/* Project pages */

.projects {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.github {
  margin-right: 5em;
}

.recipe-card,
.memory-card {
  border: white solid 2px;
}

.proj-title {
  font-size: 2em;
}

.proj-h1 {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  font-size: 3em;
}
