.hero-section {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  margin-top: 5em;
}

@media (max-width: 1024px) {
  .hero-name {
    margin-left: 0.5em;
  }

  .hero-text {
    font-size: 16px;
    width: 22.5em;
    margin-left: 2em;
  }
}

.hero-pic {
  height: 40em;
}

.hero-name {
  font-size: 50px;
}

.hero-text {
  margin-right: 7em;
}
