.about:hover,
.projects:hover,
.contact:hover {
  color: red;
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
  margin-top: 200px;
}

.nav-links div {
  flex: 1;
  flex-basis: 300px;
  height: 300px;
  margin: 20px;
  border-radius: 30px;
  background-color: grey;
  /* background-image: url(/Users/robertthome/professional/Portfolio/my-portfolio/src/images/propic.jpeg);
  background-repeat: no-repeat;
  background-size: cover; */
  font-size: 100px;
}

.nav {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

@media (max-width: 812px) {
  .nav-links {
    display: grid;
    align-items: center;
  }
}

@media (max-width: 1024px) {
  .nav-links {
    display: grid;
    align-items: center;
  }
}

.about {
  animation: fadeIn ease 8s;
  -webkit-animation: fadeIn ease 8s;
  -moz-animation: fadeIn ease 8s;
  -o-animation: fadeIn ease 8s;
  -ms-animation: fadeIn ease 8s;
}

.projects {
  animation: fadeIn ease 9s;
  -webkit-animation: fadeIn ease 9s;
  -moz-animation: fadeIn ease 9s;
  -o-animation: fadeIn ease 9s;
  -ms-animation: fadeIn ease 9s;
}

.contact {
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
